<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Hi 👋🏽 I'm Kasra. I'm looking for a date.</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
  <!-- favicon stuff -->
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-96x96.png') }}">
</head>
<body>
  <nav class="pink lighten-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">kasra.date</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">T E X T M E</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">T E X T M E</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="section no-pad-bot">
      <div class="row">
        <h3>👋🏽 I'm Kasra and I'm looking for a date.</h3>
        <p>Well, not just a date. I'm pretty good at getting dates. Turning those into something serious though, that's the goal.</p>
        <p>I live my life pretty out in the open. Here are some links to demonstrate who I really am. Let me know if any of it interests you. Cool. thanks, bye.</p>
      </div>
    </div>
    <div class="section">
      <div class="row last-section-row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Writing</h5>

            {% include 'section/writing.md' %}
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center">Social</h5>

            {% include 'section/social.md' %}
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="row">
        <h4>Text me</h4>
        <p>Fill out the form below to send me a text, or feel free to grab your phone and text me directly: <strong><a href="sms:3214652772">(321) IM-KASRA</a></strong>.</p>
        <p>That's not a joke, that's a real number. I'll message you back soon.</p>
        <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="message_name" type="text" class="validate">
            <label for="message_name">Your Name</label>
          </div>
          <div class="input-field col s6">
            <input id="message_phone_number" type="tel" class="validate">
            <label for="message_phone_number">Your Number</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="message_text" class="materialize-textarea"></textarea>
            <label for="message_text">What's your favorite color?</label>
          </div>
        </div>
        <div class="row">
          <div class="s2 right-align">
          <a class="waves-effect waves-light btn pink accent-2"><i class="material-icons right">send</i>Send Message</a>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>

  <footer class="page-footer pink darken-3">
    <div class="container">
      <div class="row footer-row">
        <div class="col l6 s12">
          <h5 class="white-text">What is this?</h5>
          <p class="grey-text text-lighten-4">My name is Kasra and I'm looking for a date.</p>

        </div>
        <div class="col l3 s12 offset-l3 footer-connect-container">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://twitter.com/jc4p" target="_blank">Twitter</a></li>
            <li><a class="white-text" href="https://www.instagram.com/krahjerdi/" target="_blank">Instagram</a></li>
            <li><a class="white-text" href="sms:3214652772">(321) IM-KASRA</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    </body>
</html>
