<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>kasra.date</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
</head>
<body>
  <nav class="pink lighten-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">kasra.date</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <div class="section no-pad-bot">
      <div class="row">
        <h3>Hi, I'm Kasra.</h3>
        <p>This may seem strange, but I assure you I'm a normal guy. Wow that's super not true.</p>
        <p>Here's some more marketing text to try to get you to join me in on a date. We can pelt around the house and up and down stairs chasing phantoms scratch the box favor packaging over toy. Lounge in doorway. Claws in your leg eat the fat cats food has closed eyes but still sees you lick yarn hanging out of own butt vommit food and eat it again. Loves cheeseburgers instantly break out into full speed gallop across the house for no reason and hide from vacuum cleaner give attitude, so put butt in owner's face.</p>
      </div>
    </div>
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">Projects</h5>

            <p class="light">I'm always working on some thing. Some examples:</p>
            <ul class="collection">
              <li class="collection-item"><a href="https://github.com/jc4p/KeepItCool" target="_blank">An anti-drunk texting app</a></li>
              <li class="collection-item"><a href="https://www.instagram.com/p/5SkkuYR-3p" target="_blank">LED light boards!</a></li>
            </ul>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">Obsessions</h5>

            <p class="light">I obsess over strange things. Recently this has meant ice cream and related treats (milkshakes, ice cream sandwiches, ice cream cakes).</p>

            <p class="light">Last summer this meant trying to get my lights to dance with music. Both obsessions have been semi-successful.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">Some more things</h5>

            <p class="light">yeah i don't know, i'll think of something</p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>

  <footer class="page-footer pink darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">What is this?</h5>
          <p class="grey-text text-lighten-4">My name is Kasra and this is a serious attempt at getting myself a date.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Reading</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    </body>
</html>
